@charset "utf-8";
body{font:14px "Prompt";background:#fff;color:#3e3e4a}
body>.container{position:relative;padding:0}
*, ul, ol, * li{padding:0;margin:0;list-style-type:none}
h1, h2, h3, h4, h5, h6{font-family:"Prompt", tahoma, Arial, sans-serif;margin:0;line-height:normal}
a{color:#3e3e4a}
a:hover{color:#666;text-decoration:underline}
a:focus{text-decoration:none}
img{max-width:100%}
fieldset{border:none;margin:0;padding:0}
address{font-style:normal}
/*header*/
[id*="header"]{position:relative;z-index:199}
.main-nav{position:relative;background:#fff;z-index:199}
.main-nav>ul{margin:0 auto;padding:0}
.main-nav>ul>li{position:relative}
.main-nav>ul>li>a{display:block;color:#ff6590;padding:15px 10px;font-size:16px;line-height:22px}
.main-nav>ul>li>ul{display:none}
.main-nav>ul>li ul>li{padding:0 10px;border-bottom:1px dashed rgba(0,0,0,0.15)}
.main-nav>ul>li:hover>ul{display:block;visibility:visible}
[id*="header"] [class*="btn-nv"]{position:absolute;top:0;right:0;display:none;width:50px;height:50px;text-align:center;line-height:50px;color:#555;font-size:30px}
[id*="header"] [class*="btn-nv"] a{display:block;height:100%;color:#555}
[id*="header"] [class*="btn-nv"] span{position:absolute;display:block;width:60%;height:2px;top:30%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);background:rgba(132, 132, 132, 0.95);transition:.4s all ease;-webkit-transition:.4s all ease}
[id*="header"] [class*="btn-nv-m"] span:nth-child(2){top:50%}
[id*="header"] [class*="btn-nv-m"] span:nth-child(3){top:70%}
[id*="header"] [class*="btn-nv-m"] a.active{background:rgba(255,255,255,0.3)}
[id*="header"] [class*="btn-nv-m"] a.active span:nth-child(2){display:none}
[id*="header"] [class*="btn-nv-m"] a.active span:nth-child(1){top:50%;left:20%;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
[id*="header"] [class*="btn-nv-m"] a.active span:nth-child(3){top:50%;left:20%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.sw-nav{position:relative;text-align:center}
.sw-nav>a{text-decoration:none}
.sw-nav>a.btn.active:before{content:"";display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,0.5)}
.sw-nav>a>i{display:block;width:60px;height:60px;font-size:32px;line-height:60px;text-align:center;color:#979797}
[id="header"] .sw-nav .form-control{display:none;position:absolute;top:0px;right:0;width:600px;z-index: 250;max-width: 100vw}
[role*="search"] .form-control form{position:relative;background:#ccc;padding:10px 40px 10px 10px}
[role*="search"] .form-control form #auto-search{display:block;width:100%;height:47px;border:none;padding:0 10px}
[role*="search"] .form-control form #btn-search{position:absolute;top:10px;right:10px;display:block;width:47px;height:47px;text-align:center;background:#f3f3f3;border:none;color:#636363;font-size:24px;line-height:47px}
@-webkit-keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}

@media (min-width:1024px){.full-width,[id="header"].fixed{margin-left:calc(-100vw / 2 + 980px / 2);margin-right:calc(-100vw / 2 + 980px / 2)}}
@media (min-width:1024px) and (-webkit-device-pixel-ratio:1){.full-width,[id="header"].fixed{margin-left:calc(-100vw / 2 + 980px / 2 + 10px);margin-right:calc(-100vw / 2 + 980px / 2 + 10px)}}
@media (min-width:1200px){.full-width,[id="header"].fixed{margin-left:calc(-100vw / 2 + 1240px / 2 + 8px);margin-right:calc(-100vw / 2 + 1240px / 2 + 8px)}}
.nav-cr>ul[class*="_chd"][class*="-cl"]>li{padding: 0 .5rem!important}
.nav-cr>ul>li>a{position: relative;display: block;border: 2px solid #eaeaea; text-align: center;font-size: 13px; line-height: 20px; color: #333; border-radius: 5em;-webkit-border-radius: 5em}
.nav-cr>ul>li>a:hover{color: #ff6590;border-color:#ff6590}
.nav-cr>ul>li>a:before{content: "";display: block;padding: 100% 0 0}
.nav-cr>ul>li>a>*{position: absolute;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);transition: .2s all ease-in-out;-webkit-transition: .2s all ease-in-out}
.nav-cr>ul>li>a>i{display: block;text-align:center;top:10%}
.nav-cr>ul>li>a:hover>i{top: -10%}
.nav-cr>ul>li>a>i>img{display: block;margin: 0 auto;max-height: 48px;width: auto;max-width: 100%}
.nav-cr>ul>li>a>span{display: block;white-space: nowrap; bottom: 10%}

@media (min-width:801px){
[id*="header"]{position:relative;z-index:199;background: transparent}
[id="header"].fixed{position:fixed;top: 0;left: 0;right: 0; background: #fff; animation:sd-InDown .25s 1 linear!important;-webkit-animation:sd-InDown .25s 1 linear!important;box-shadow:0 2px 3px rgba(0,0,0,0.3)}
[id="header"].fixed [class*="logo"],[id="header"].fixed [class*="logo"]>img{height: 50px;max-height: 50px}
[id="header"].fixed>.container .main-nav{align-items: flex-end;align-self: flex-end}
[id="header"].fixed ul[class*="_chd"][class*="-cl"]{margin: 5px 0; border: none;justify-content: center}
[id="header"].fixed ul[class*="_chd"][class*="-cl"]>li{flex: 0 0 80px!important}
[id*="header"]>.container{display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;}
[id*="header"] [class*="logo"]{min-width:73px;height:120px;max-height:none}
[class*="logo"] img{display:block;max-height:none;margin:0 auto}
.nav-cr{width:70%;flex-basis:70%}
.main-nav{width:70%;flex-basis:70%}
.main-nav>ul{justify-content:space-between;border-bottom:2px solid #ff6590}
.main-nav>ul>li{position: relative;flex-basis:auto !important;flex-grow:0 !important}
.main-nav>ul>li.home{display:none}
.main-nav>ul>li>a{color:#000;font-size:18px}
.main-nav>ul>li>ul{position:absolute;top:100%;left:0;width:200px;padding:5px;background:rgba(255,255,255,0.95);box-shadow:0 3px 3px rgba(0,0,0,0.3)}
.main-nav>ul>li>ul{position:absolute;top:100%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);width:200px;padding:0;background:#ff6590;color:#fff}
.main-nav>ul>li>ul:after{content:"";display:block;position:absolute;top:-9px;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);border-bottom:10px solid #ff6590;border-left:10px solid transparent;border-right:10px solid transparent}
.main-nav>ul>li>ul li{position: relative;padding:10px 15px;border-bottom:1px solid rgba(255,255,255,0.2)}
.main-nav>ul>li>ul li>a{display:block;color:#fff}
.main-nav>ul>li>ul li:hover{background: rgba(255,255,255,0.5)}
.main-nav>ul>li>ul li>a:hover{color:#ff6590;text-decoration:none;}
.main-nav>ul>li>ul ul{display: none; position: absolute; width: 200px;padding:0;top:0;left: 100%;background:#ff6590;color:#fff;margin-left:0;z-index: 9}
.main-nav>ul>li>ul li:hover>ul{display: block}
}
@media (max-width:800px){
body.expand{overflow:hidden;max-height:100vh}
[id="header"]{position:relative;background:#fff;z-index:201;min-height:50px}
[id="header"] [class*="logo"]{margin-left:10px;width:105px;height:50px;}
[class*="logo"] img{display:none}
[id="header"] [class*="logo"]>a{top:2px;height:48px;background:url(../di/logo-m.png) no-repeat;background-size:auto 100%}
.main-nav,.nav-cr{z-index:202}
.expand .main-nav,.expand .nav-cr{z-index:auto}
[id*="header"] [class*="btn-nv"]{display:block}
.main-nav>ul{display:none;visibility:hidden;position:fixed;top:50px;right:0;bottom:0;width:100%;max-width:480px;overflow:auto;background:#fff;z-index:199}
.expand .main-nav>ul{display:block;visibility:visible}
.main-nav>ul>li:after{content:"\f105";display:block;position:absolute;top:5px;right:5px;width:40px;height:42px;color:#ff6590;font:32px/42px "FontAwesome";text-align:center;z-index:-1}
.main-nav>ul>li.active:after/*.main-nav>ul>li[class^="m"]:hover:after,.main-nav>ul>li[class^="m"]:focus:after,.main-nav>ul>li[class^="m"]:active:after*/{transform:rotate(90deg);-webkit-transform:rotate(90deg)}
.main-nav>ul>li{padding:5px 0;border-bottom:1px solid #ff6590}
.main-nav>ul>li.sub:after{content:"\f107"}
.main-nav>ul>li.sub:hover:after,.main-nav>ul>li.sub.active:after{transform:rotate(-180deg);-webkit-transform:rotate(-180deg)}
.main-nav>ul>li.sub>a{margin-right:45vw}
.main-nav>ul>li.sub>ul{display:none!important}
.main-nav>ul>li.sub:hover>ul,.main-nav>ul>li.sub:active>ul,.main-nav>ul>li.sub:focus>ul{display:block!important}
.main-nav>ul>li.sub>ul>li{border-left:3px solid #3b89de;margin-left:17px}
.main-nav>ul>li.sub>ul>li ul>li{position: relative}
.main-nav>ul>li.sub>ul>li ul>li:before{content: "";display:inline-block; width: 7px; height: 7px; background: #ff6590; vertical-align: middle;margin-right: 10px}
.main-nav>ul>li ul>li{padding: 10px}
.main-nav>ul>li ul>li>a{display: inline-block;;color:#434a54}
.nav-cr{position:relative;clear: both;margin: 10px auto;width: 100vw;}
.nav-cr>ul{display: flex!important;flex-flow: row nowrap!important;overflow: auto; width: 100%;flex-basis: 100%}
.expand .nav-cr>ul{display: none!important;visibility: hidden!important}
.nav-cr>ul>li{max-width: 64px; min-width: 50px; flex: 1 1 0!important}
.nav-cr>ul[class*="_chd"][class*="-cl"]>li{padding: 0 .5rem!important}
.sw-nav{height:50px;position:absolute;top:0;right:50px;z-index:699}
.sw-nav>a>i{width:50px;height:50px;font-size:24px;line-height:50px}
.sw-nav>a.btn.active:after{content:"X";display:block;position:fixed;top:0;right:0;width:50px;height:50px;background:#fff;color:#979797;font-size:32px;font-weight:100;line-height:50px;text-align:center}
[id="header"] .sw-nav .form-control{top:0;right:0;width:70vw}
}
@media (max-width:640px){
    .nav-cr>ul[class*="_chd"][class*="-cl"]>li{
        min-width: 50px;
        flex: 0 0 80px !important;
        padding: 0 3px !important;
    }
}

[class="ads_728"]{position:relative;margin:20px 0 30px;text-align:center}
[class="ads_728"] .inner{margin:0 auto;max-width:100%}
[class="ads_728"] .inner img{max-width:100%;height:auto!important}
/*footer*/
[id="footer"]{padding:0;border:none;color:#575757}
[id="footer"]>*>*>p.cright{font-weight:200}
[id="footer"] .copyright{padding:10px;margin:0;background:#f0f0f0;text-align:center;font:13px/20px tahoma;color:#808080;margin-top:10px}
[id="footer"] .btn-back2top{position:fixed;bottom:-100px;right:0;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
[id="footer"] .btn-back2top a{position:relative;display:block;width:48px;height:48px;padding:0;text-indent:-9999px;background:#aaa;box-shadow:0 1px 1px rgba(0,0,0,0.2);border-radius:5em 0 0 5em;-webkit-border-radius:5em 0 0 5em}
[id="footer"] .btn-back2top a:before{content:"";display:block;position:absolute;top:50%;left:50%;margin:-5px 0 0 -10px;width:20px;height:20px;transform:rotate(135deg);-webkit-transform:rotate(135deg);border-left:2px solid #fff;border-bottom:2px solid #fff;text-indent:0;text-align:center}
/*follow-social*/
[id="toc"]{position:relative}
[id="toc"] .follow-social{position:absolute;top:10px;right:0;z-index:99}
.follow-social>ul{display:block;text-align:center}
.follow-social>ul>li{display:inline-block;margin:0 5px}
.follow-social>ul>li>a{display:block;background:#a1a1a1;text-decoration:none;border-radius:5em;-webkit-border-radius:5em}
.follow-social>ul>li.yt>a:hover{background:#cf2726}
.follow-social>ul>li.fb>a:hover{background:#305d9e}
.follow-social>ul>li>a>i[class*="fa-"]{display:block;width:42px;height:42px;font-size:24px;color:#fff;text-align:center;line-height:42px}
/*ui-btn*/
.display-flex{overflow:hidden}
.display-flex .thumb, .display-flex .text a>*{opacity:0}
[id="toc"] [class^="z-"]{position:relative;clear:both;margin-bottom:20px}
[id="toc"] [class^="z-"][class^="last"]{margin-bottom:0}
[id="toc"] [class^="z-"]:after{content:"";display:block;clear:both}
[class*="ui-btn"]{padding:10px 20px;font-size:16px;min-width:120px;text-align:center;border-radius:0.3em;-webkit-border-radius:0.3em;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out;box-shadow:none}
[class*="ui-btn"][class*="green"]{background:#21d266}
[class*="ui-btn"][class*="green2"]{background:#008A70}
[class*="ui-btn"][class*="brown"]{background:#593f2e}
[class*="ui-btn"][class*="blue"]{background:#0068A7}
[class*="ui-btn"][class*="orange"]{background:#F15429}
[class*="ui-btn"][class*="darkgray"]{background:#7C7A7D}
[class*="ui-btn"][class*="violet"]{background:#7b3f95}
[class*="ui-btn"][class*="yellow"]{background:#ffc50a;color:#7b3f95}
[class*="ui-btn"][class*="pink"]{background:#ff6590;color:#fff}
[class*="ui-btn"][class*="gold"]{background:#f1c03d}
[class*="ui-btn"][class*="brown"]{background:#593f2e;color:#fff}
[class*="ui-btn"][class*="border"]{background:#fff;color:#000;border:1px solid #ebebeb}
[class*="ui-btn"]:hover{box-shadow:0 -4px 0 rgba(0,0,0,0.1) inset}
#toc .t-green{color:#1AC300}
#toc .t-yellow{color:#faff3c}
#toc .t-blue{color:#0068A7}
#toc .t-gray{color:#999}
#toc .t-orange{color:#F15429}
#toc  .t-black{color:#333}
#toc  .t-pink{color:#ff6590}
.txt-box,.select-box,.txt-area{display:inline-block;padding:5px 10px;line-height:25px;font-size:14px;border:1px solid #ccc;border-radius:.5em;-webkit-border-radius:.5em;background:#fff}
.select-box option{padding:0 5px}
.block{display:block;width:100%}
#breadcrumbs{position:relative;clear:both;margin:0 auto 20px;z-index:10}
#breadcrumbs li{position:relative;display:inline-block;padding-right:1.5em;font:12px/25px tahoma;color:#777;vertical-align:top}
#breadcrumbs li .cr{display:none}
#breadcrumbs a{position:relative;display:block;font:700 12px/25px tahoma;padding:0;float:left;text-decoration:none;color:#555;text-shadow:0 1px 0 rgba(255,255,255,.5)}
#breadcrumbs li:first-child a{border-radius:5px 0 0 5px}
#breadcrumbs a:hover{color:#f31d4e;text-decoration:underline}
#breadcrumbs a:after,#breadcrumbs a:before{content:"";position:absolute;top:50%;height:0;overflow:hidden;margin-top:-.4em;border-top:.5em solid transparent;border-bottom:.5em solid transparent;border-left:.5em solid;right:-1.095em}
#breadcrumbs a:after{z-index:2;border-left-color:#fff}
#breadcrumbs a:before{border-left-color:#ff6590;right:-1.2em;z-index:1}
#breadcrumbs a:hover:after{border-left-color:#fff}
#breadcrumbs .current,#breadcrumbs .current:hover{font-weight:bold;background:0;color:#ff6590;font-family:Arial,Gadget,sans-serif}
#breadcrumbs .current:after,#breadcrumbs .current:before{content:""}
/*home*/
[class*="h-topic"]{position:relative;text-align:center;margin-bottom:20px;font-size:250%;font-weight:400;font-family:"Prompt"}
[class*="h-topic"].txt-l{text-align: left}
[class*="h-topic"]>a{color:#333}
[class*="h-topic"]>a:hover{text-decoration:none}
[class*="h-topic"]>a>span{display: inline-block;border-bottom: 3px solid rgba(0,0,0,0.25);line-height: 100%;margin-bottom: 7px}
[class*="h-topic"] small{color: #ff6590;display: block;font-family: "Prompt";font-size: 40%;font-style: normal;font-weight: 400;margin-top: -5px}
[class*="h-text"]{font-size:24px}
[class*="h-text"]>a{color:#ff6590}

.bx-wrapper{margin-bottom:30px}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{padding:0;bottom:-15px}
.bxslider .thm-top>* .in>a>*>img{height:435px;object-fit:cover;object-position:30% 50%}
.bxslider .thm-top:not(bx-clone),.bxslider .thm-top:not(bx-clone)>* .in>a>div>img{width:300px!important;transition:.8s all ease;-webkit-transition:.8s all ease}
.bxslider .thm-top.bx-clone+.thm-top,.bxslider .thm-top.bx-clone+.thm-top * .in>a>div>img{width:435px!important}
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="false"],
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="true"]:not(bx-clone),
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="false"] * .in>a>div>img,
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="true"]:not(bx-clone) * .in>a>div>img{width:435px!important}

/*slider*/
#slider-top{position:relative;margin-bottom:30px;overflow:hidden;border-radius:.3em;-webkit-border-radius:.3em}
#slider-top .slides>li>a{display:block;position:relative;text-decoration:none;overflow:hidden;border-radius:.3em;-webkit-border-radius:.3em}
#slider-top .slides>li>a>img{display:block;/*height:250px;*/max-width:100%;object-fit:cover}
#slider-top .slides>li>a>div{position:absolute;left:0;right:0;bottom:0;background:rgba(0,0,0,0.35);color:#fff;padding:8px 20px 20px;transition:.3s all ease-in;-webkit-transition:.3s all ease-in}
#slider-top .slides>li>a:hover>div{background:#ff6590}
#slider-top .slides>li>a>div>*{margin-bottom:0;line-height:20px;max-height:20px;overflow:hidden}
#slider-top .slides>li>a>div>*:first-child{font-size:19px;padding-top:3px;line-height:20px;max-height:20px;overflow:hidden}
#slider-top .slides>li>a>div>p{font:13px/20px tahoma}
#slider-top .flex-direction-nav a{color:#fff;opacity:.75}
#slider-top .flex-direction-nav a:hover{opacity:1;text-shadow:1px 1px 0 rgba(0, 0, 0, 0.3)}
#slider-top .flex-control-paging{bottom:5px;height:10px}
#slider-top .flex-control-paging li a{width:10px;height:10px;background:#fff}
#slider-top .flex-control-paging li a.flex-active{background:#878786}
/*thumbnail*/
.row {margin-right: -1rem;margin-left: -1rem;}
[class*="_self"][class*="-cl"], [class*="_chd"][class*="-cl"] > *,.thm-top[class*="_chd"][class*="-cl"]>*{padding-left:1rem!important;padding-right:1rem!important}
[id="aside"] .thm-top[class*="_chd"][class*="-cl"]>*{padding-left:0.5rem;padding-right:0.5rem;margin-bottom:15px}
.thm-top>*{margin-bottom:30px}
.thm-top>* .in>a{text-decoration:none}
.thm-top>* .in>a:hover>h3{color:#ff6590}
.thm-top>* .in>a>*{position:relative;margin-bottom:10px;border-radius: .3em;-webkit-border-radius: .3em;overflow: hidden}
.thm-top>* .in>a>figure:before{content: "";display: block;padding: 66% 0 0}
.thm-top[class*="-sq"]>* .in>a>figure:before{padding: 100% 0 0}
.thm-top>* .in>a>*>img{display:block;max-width:100%;/*max-height:189px;*/object-fit:cover;object-position:50%}
.thm-top>* .in>a>figure>img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
[id*="aside"] .thm-top>* .in>a>*>img{min-height:130px}
.thm-top>* .in>a>*>i[class*="fa-play"]{display:block;width:50px;height:50px;line-height:46px;font-size:24px;text-indent:5px;border:2px solid #fff;color:#fff;text-align:center;position:absolute;left:10px;bottom:10px;background:rgba(0,0,0,0.2);border-radius:5em;-webkit-border-radius:5em;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
[id*="aside"] .thm-top>* .in>a>*>i[class*="fa-play"]{ width:30px; height:30px; line-height:26px; font-size:14px; text-indent:3px}
.thm-top>* .in>a>h2,.thm-top>* .in>a>h3{font-size:16px;font-weight:400;line-height:20px;color:#3e3e4a;max-height:41px;overflow:hidden;padding-top:1px}
.thm-top>* .in>a>h2{font-size: 18px; line-height: 22px; max-height: 44px; color: #ff6590;margin-bottom: 0}

[class*="thm-home"]{margin-bottom: 20px}
[class*="thm-home"]>* img{max-width:100%;height:auto}
[class*="thm-home"]>*>a{display:block;position:relative;text-decoration:none;color:#3e3e4a;overflow:hidden}
[class*="thm-home"]>*>a>img{display:block;max-width:100%;height:auto;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out;z-index:1;border-radius: .3em;-webkit-border-radius: .3em}
[class*="thm-home"][class*="-vdo"]>*>a>i[class*="play"]{display:block;position:absolute;left:10px;bottom:60px;width:42px;height:42px;text-align:center;line-height:34px;border:4px solid #fff;font-size:24px;text-indent:2px;color:#fff;border-radius:5em;-webkit-border-radius:5em;text-shadow:0 1px 0 rgba(0,0,0,0.3);box-shadow:0 1px 0 rgba(0,0,0,0.3);z-index:3}
[class*="thm-home"]>*>a>div{position:relative;clear:both;padding-top:5px;background:#fff;z-index:2}
[class*="thm-home"][class*="-small"]>*>a>div{padding-top:5px}
[class*="thm-home"]>*[class*="hl"]>a>div{position:absolute;left:0;right:0;bottom:0;padding:8px 10px 5px;background:rgba(255,255,255,0.7);transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
[class*="thm-home"]>*[class*="hl"]>a:hover>div{background:rgba(255,255,255,0.85)}
[class*="thm-home"]>*>a>div>*{overflow:hidden;text-overflow:ellipsis;margin:0 0 3px;padding-top:0;/*height:42px;*/max-height:42px;}
[class*="thm-home"]>*>a>div>*:first-child{font:16px/21px "Prompt"}
[class*="thm-home"][class*="-small"]>*>a>div>*:first-child{font:13px/18px tahoma;max-height:36px;white-space:normal;color:#929291;padding-top:0;margin-bottom:0}
[class*="thm-home"]>*[class*="hl"]>a>div>*:first-child,[class*="thm-home"][class*="-big"]>*>a>div>*:first-child{color:#231f20;font:18px/22px "Prompt";max-height:44px;white-space:normal;margin-bottom:0}
[class*="thm-home"]>*[class*="hl"]>a:hover>div>*:first-child{max-height:42px;white-space:normal}
[class*="thm-home"]>*>a>div>p{font:13px/18px "K2D";color:#929291;max-height:18px;padding:0}
[class*="thm-home"]>*[class*="hl"]>a>div>p{color:#575656}
[class*="thm-home"]>*>a:hover>div>*:first-child{text-decoration:underline}

/*.z-rec>li{margin-bottom:30px;box-shadow:0 10px 30px -6px rgba(0, 0, 0, 0.35);border-bottom:1px solid #ccc;border-right:1px solid #ccc}
.z-rec>li [class*="h-text"]{padding-left:1rem;padding-top:.5rem}
.z-rec>li [class*="h-text"]>a{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.z-rec>li .thm-top>* .in>a>div>img{height:30vh}
.z-rec>li .thm-top.row{margin-left:0;margin-right:0}
.thm-bd>*>.in{padding-bottom:10px}*/
.ctrl-btn{text-align:center}
[class*="pagination"]>li>.c,[class*="pagination"]>li>strong{color:#ff6590}
/*detail*/
.reader header{margin-bottom:10px}
.reader header>h1{margin-bottom:10px;color:#000;line-height:100%}
.reader .cover,.editor p,.editor figure{margin-bottom:20px}
.editor figure,.reader .cover.about{position:relative;left:50%;transform:translateX(-50%);display:inline-block;border-bottom:1px solid #d7d7d7;padding-bottom:20px}
.editor figure figcaption{display:block;margin-top:10px;font-size:21px;color:#000;font-weight:200}
.display-gal{padding:0;margin:10px auto 0;max-height:260px;}
.display-gal .bxslider .slide img{width:100%;height:260px;object-fit:cover}
.reader{margin-bottom:30px}
.reader .editor img{height:auto;max-height:100vh}
.z-maps .various img{border:1px solid #bfbeb9;display:block;margin:10px auto}
.z-maps .info{font-size:16px}
.z-maps .info p{margin-bottom:0}
.z-maps .info address{font-style:normal}
.contact-form{position:relative;border:2px solid #c9c9c9;width:900px;margin:70px auto 0;max-width:100%;padding:0 20px 20px;border-radius:.5em;-webkit-border-radius:.5em;}
.contact-form .idTabs{position:relative;text-align:center;margin-top:-30px;margin-bottom:20px;white-space:nowrap}
.contact-form .idTabs>li{display:inline-block;margin:0 5px;min-width:35%}
.contact-form .idTabs>li>a{display:block;padding:15px 10px;font-size:21px;color:#000;background:#eaeaea;border-radius:.5em;-webkit-border-radius:.5em;text-decoration:none}
.contact-form .idTabs>li>a.selected{color:#fff;background:#ff6590}
.contact-form .form-post ul>li{margin-bottom:10px}
.form-post>p,.form-post ul>li{display:flex;flex-flow:row wrap;flex:0 1 auto}
.form-post>p>*,.form-post ul>li>*{flex-basis: 0;flex-grow: 1;max-width: 100%}
.form-post>p>label,.form-post ul>li>label{max-width:25%;flex-basis:25%}
.form-post label{line-height:35px;font-size:15px}
.form-post label>span{display:inline-block;margin-left:3px}
.form-post .map{border:1px dashed #cdcdcd;padding:10px}
.form-post .map_canvas{margin-bottom:10px}
#sr-box-fix.fixed{top:0px;width:284px}
#sr-box-fix.fixed .thm-top{max-height:60vh;overflow:auto}
@media (max-height:768px){#sr-box-fix.fixed .thm-top{max-height:45vh}}
/*search*/
.sec-search [class="h-topic"]>*{display:block;text-align: center}
.sec-search [class="h-topic"] small{font-size:16px;color:#808080}
.sec-search [class="h-topic"] b{font-weight:400;color:#000}
.sec-search [id="main-search"]{position:relative;max-width:75%;margin:10px auto 30px}
.sec-search [id="main-search"] .txt-box{display:block;width:100%;padding:15px;border:2px solid #666;font-size:16px}
.sec-search [id="main-search"] .btn{position:absolute;top:0;right:0;bottom:0;width:60px;text-align:center;background:none;border:none;color:#ff6590;font-size:32px}
/*paging*/
.pagination,.ctrl-paging{position:relative;display:block;clear:both;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:0;padding-bottom:10px}
.pagination ul{width:100%;text-align:center}
.pagination ul li{display:inline-block;margin-left:5px;vertical-align:top}
.pagination ul li a{display:inline-block;padding:0 5px;min-width:25px;height:25px;font:14px/23px "MyFont", tahoma;color:#999;background:#fff;text-align:center;border:1px solid #ccc;text-decoration:none;border-radius:5em;-webkit-border-radius:5em}
.pagination ul li a:hover{opacity:.75}
.pagination ul li a.active{background:#ff6590;border-color:#ff6590;color:#fff;box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset}
.ctrl-paging>p{text-align:right;font-size:14px;min-height:25px}
.ctrl-paging>p>.result{display:block;float:left;color:#999}
.ctrl-paging>p>strong,.ctrl-paging>p>a{display:inline-block;padding:0 5px;min-width:25px;height:25px;font:14px/25px "MyFont", tahoma;color:#777;background:#fff;text-align:center;border:1px solid #ccc;text-decoration:none;border-radius:.2em;-webkit-border-radius:.2em}
.ctrl-paging>p>a:hover{opacity:.75}
.ctrl-paging>p>strong{background:#ff6590;border-color:#ff6590;color:#fff;box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset}
/*ligthbox*/
.fancybox-overlay{background:rgba(255,255,255,0.75)!important}
.fancybox-close{width:40px;height:40px;right:0;top:-40px;background:#fff}
.fancybox-close:before,.fancybox-close:after{content:"";display:block;position:absolute;width:80%;height:2px;background:#bbb}
.fancybox-close:before{top:50%;left:10%;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.fancybox-close:after{top:50%;left:10%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.fancybox-close:hover:before,.fancybox-close:hover:after{background:#ff6590}
.thm-popup img{max-width:100%}
.thm-popup .inner{font-size:18px}
.thm-popup .inner p{margin-bottom:0}
.thm-popup .inner>[class*="_chd"]{background:#ff6590;color:#fff;border:5px solid #ff6590;box-shadow:0 0 0 1px #cbcbcd inset;padding:10px}
.thm-popup .inner .detail{position:relative;padding-left:7%}
.thm-popup .inner .detail:after{content:"";display:block;width:1px;height:80%;background:#cdcdcd;position:absolute;top:10%;right:0}
.thm-popup .inner .detail h1{font-size:24px;font-weight:700}
.thm-popup .inner .detail h1 a{color:#fff;text-decoration:underline}
.thm-popup .inner .order h2{position:relative;font-style:italic;font-size:24px;text-align:left}
.thm-popup .inner .order h2:before,.thm-popup .inner .order h2:after,.thm-popup .inner .order h2>span:before{content:"";display:block;position:absolute;top:30%;left:65%;right:0;border-top:1px solid #cdcdcd;z-index:1}
.thm-popup .inner .order h2>span:before{top:50%;right:10%}
.thm-popup .inner .order h2:after{top:auto;bottom:30%;right:20%}
.thm-popup .inner .order h2>span{z-index:2;padding:0 20px;background:#ff6590}
.thm-popup .inner .order p>a{display:block;background:#fff;padding:7px 20px;font-weight:700;font-size:24px;line-height:25px;color:#000;border:1px solid #5b0103;letter-spacing:2px;border-radius:.5em;-webkit-border-radius:.5em}
.thm-popup .inner .order p>a i{font-size:32px;margin:-5px 0 0;display:inline-block;vertical-align:middle}
/*ads*/
.z-ads{position:relative;color:both;width:100%;text-align:center}
.z-ads>[class*="ads_300x250"],.ads_300x250{width:300px;height:250px;margin:0 auto;max-width:100%}
.z-ads>[class*="ads_728x90"].ads_728{width:728px;height:90px;margin:0 auto;max-width:100%}
.ct-ads{padding-bottom:20px}
@media (min-width:768px){
.followus>ul[class*="_chd"][class*="-cl"][class*="-xs"]>li{max-width:55px}
}
@media (min-width:1024px){
#toc .scroll-hr{display:block}
#toc .scroll-hr>*{float:left}
}
@media (min-width:1200px){
.bx-wrapper .bx-controls-direction a{width:50px;height:50px;background:none}
.bx-wrapper .bx-controls-direction a:before{content:"";display:block;position:absolute;width:50px;height:50px;font:75px/50px 'FontAwesome';color:#ff6590;text-shadow:0 3px 5px rgba(0,0,0,0.5);text-indent:0;text-align:center;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
.bx-wrapper .bx-controls-direction a.bx-prev:before{content: "\f104"}
.bx-wrapper .bx-controls-direction a.bx-next:before{content: "\f105"}
.bx-wrapper .bx-prev{left:-25px}
.bx-wrapper .bx-next{right:-25px}
}
@media (min-width:1025px){
[class*="thm-home"]>*>a:hover>div h3{text-decoration:underline}
#slider-top .slides>li>a>div{opacity:0;bottom:-100%}
#slider-top .slides>li>a:hover>div{opacity:1;bottom:0}
.followus>ul>li>a:hover>i{opacity:1}
.thm-top>* .in>a:hover>*>i[class*="fa-play"]{color:#ff6590;border-color:#ff6590;background:rgba(255,255,255,0.45)}
}
@media (min-width:1024px){[id="toc"] .reader{padding-left: 0!important} [id="toc"] .reader~[id="aside"]{padding-right: 0!important}}
@media (min-width:1200px) and (max-width:1439px){/*.z-rec>li .thm-top>* .in>a>figure>img{height:45vh}*/}
@media (min-width:992px) and (max-width:1199px){[class*="thm-home"]>*>a>div>p{max-height:36px;white-space:normal}[class*="thm-home"][class*="-vdo"]>*>a>div>p{max-height:18px;white-space:nowrap}}
/*mobile*/

@media (max-width:812px){
[id="toc"]{padding-left: .5rem;padding-right: .5rem}
.row {margin-right: -.5rem;margin-left: -.5em;}
[class*="_self"][class*="-cl"], [class*="_chd"][class*="-cl"] > *,.thm-top[class*="_chd"][class*="-cl"]>*{padding-left:.5rem!important;padding-right:.5rem!important}
/*scroll apps*/
#toc .scroll-hr{margin-left:.5rem!important;margin-right: -.5rem; display:block;max-width:100%;white-space:nowrap;overflow-x:auto!important;overflow-y:hidden}
#toc .scroll-hr>*{display:inline-block;width:65%;max-width:250px;margin-right:0.75rem;padding:0!important;white-space:normal}
#toc .scroll-hr:hover>*:last-child:after,#toc .scroll-hr:focus>*:last-child:after,#toc .scroll-hr:active>*:last-child:after{display:none}
#toc .scroll-hr>*:last-child:after{box-shadow:-60px 0 20px -20px rgba(255, 255, 255,0.65) inset;bottom:0;color:#464646;font-family:'FontAwesome';content:"\f054";display:inline-block;font-size:21px;line-height:40px;max-height:40px;position:absolute;width:60px;padding-left:30px;right:0;text-align:center;top:50%;transform:translate(0px, -50%);-webkit-transform:translate(0px, -50%)}
[class="ads_728"]{margin:10px auto 20px}
.z-highlight{padding-left:1rem}
.z-rec>li .row{margin-left:-0.5rem;margin-right:-0.5rem}
#breadcrumbs,.reader{padding:0 10px}
#sr-box-fix.fixed{position:relative!important;top:auto;width:auto}
#slider-top .slides>li>a>img{border-radius: .3em;-webkit-border-radius: .3em}
#slider-top .slides>li>a>div{position:relative;clear:both;left:auto;right:auto;bottom:auto;clear:both;padding:5px;background:none;color: #212121}
#slider-top .slides>li>a:hover>div{background:none}
#slider-top{overflow: visible}
#slider-top .flex-control-paging{bottom: -18px}
}
@media (min-width:480px) and (max-width:736px){/*.z-rec>li .thm-top>* .in>a>figure>img{height:70vh}*/}
@media (max-width:767px){
[class*="h-topic"]{margin-bottom:10px;font-size:220%}
[class*="h-text"]{font-size:21px;padding-left:0.5rem}
.z-rec>li [class*="h-text"]{padding-top:0}
.thm-popup .inner .order p > a{font-size:18px;letter-spacing:1px}
.thm-popup .inner{font-size:16px}
.thm-popup .inner .detail{padding-left:10px}
.thm-popup .inner .order h2:before,.thm-popup .inner .order h2:after,.thm-popup .inner .order h2>span:before{left:75%}
.thm-popup .inner .order h2 > span{padding:0 10px}
.reader header>h1{font-size:30px;line-height:36px}
[id="toc"] .follow-social>ul{text-align:right;padding:0 10px}
.thm-top[class*="_chd"][class*="-cl"]>*{padding-left:0.5rem;padding-right:0.5rem}
.z-rec>li{box-shadow:none;margin-bottom:15px;border-right:none;border-bottom:none}
.z-rec>li .thm-top{border-bottom:1px solid #e4e4e4}
#sr-box-fix.fixed .thm-top{max-height:none}
[class*="thm-home"]{margin-bottom: 0}
[class*="thm-home"]>*{margin-bottom: 20px}
[class*="thm-home"][class*="_chd-"][class*="-xs-06"]>[class*="hl"]:not(._self-cl-xs-12)>a>div{position:relative;background:none;padding:0}
[class*="thm-home"][class*="_chd-"][class*="-xs-06"]>[class*="hl"]:not(._self-cl-xs-12)>a>div>*:first-child{font:13px/18px tahoma;color:#929291;max-height:36px;white-space:normal}
[class*="thm-home"][class*="_chd-"][class*="-xs-06"]>[class*="hl"]:not(._self-cl-xs-12)>a>div>p{display:none}
}

@media (max-width:414px){
[class="ads_728"]{margin:10px 0}
[id="toc"] .follow-social{position:relative;top:auto;right:auto;margin-bottom:10px}
.follow-social>ul>li>a>i[class*="fa-"]{width:32px;height:32px;line-height:32px;font-size:21px}
.bxslider .thm-top{margin-right:1rem!important}
/*.bxslider .thm-top>* .in>a>*>img{height:245px}*/
.bxslider .thm-top:not(bx-clone),.bxslider .thm-top:not(bx-clone)>* .in>a>div>img{width:150px!important}
.bxslider .thm-top.bx-clone+.thm-top,.bxslider .thm-top.bx-clone+.thm-top * .in>a>div>img{width:250px!important}
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="false"],
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="true"]:not(bx-clone),
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="false"] * .in>a>div>img,
.bxslider .thm-top[aria-hidden="true"]:not(bx-clone)+.thm-top[aria-hidden="true"]:not(bx-clone) * .in>a>div>img{width:250px!important}
.thm-top>* .in>a>h3{font-size:14px}
.thm-popup .inner .detail{margin-bottom:10px;padding-bottom:10px;text-align:center}
.thm-popup .inner .detail:after{width:80%;height:1px;right:10%;top:auto;bottom:0;left:10%}
.display-gal .bxslider .slide img{height:190px}
.contact-form .idTabs>li>a{font-size:16px}
.form-post>p>label,.form-post ul>li>label{max-width:100%;flex-basis:100%}
.form-post label.txt-r{text-align:left;padding:0!important}
/*.form-post ul>li>label+*{max-width:90%}*/
.form-post ul>li>label+[class*="-box"]{max-width:90%}
.form-post .map{max-width:90%}
}

@media (max-width:360px){
}

@media (max-width:320px){
}
